/* 
 * 기본 스타일 정의
 * 이 파일은 애플리케이션의 기본 스타일을 정의합니다.
 * 전역 스타일, 폰트 설정, 기본 요소 스타일 등을 포함합니다.
 */

@layer base {
  /* 테마 설정 */
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  /* 바디 스타일 */
  body {
    color: var(--foreground);
    background: var(--background);

    /* 폰트 스무딩 설정 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 터치 하이라이트 제거 */
    -webkit-tap-highlight-color: transparent;
    @apply font-pretendard antialiased;
  }

  /* 전역 요소 스타일 */
  * {
    border-color: var(--border);
  }

  /* 버튼 기본 스타일 */
  button {
    cursor: pointer;
  }

  /* 입력 필드 스타일 */
  input {
    @apply bg-input rounded border border-input-border;
    outline: none;

    /* 플레이스홀더 스타일 */
    &::placeholder {
      @apply text-muted-foreground/45;
    }

    /* 입력 필드와 연결된 버튼 스타일 */
    & + .input-button,
    & ~ .input-button {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    /* 포커스 상태 스타일 */
    &:focus {
      @apply outline-2 outline-primary;

      &::placeholder {
        @apply text-muted-foreground/70;
      }

      & + .input-button,
      & ~ .input-button {
        opacity: 1;
      }
    }
  }

  /* 라디오 및 체크박스 기본 스타일 */
  input[type="radio"],
  input[type="checkbox"] {
    @apply focus:outline-none;
    width: 1.5rem;
    height: 1.5rem;

    position: relative;
    border: 1.5px solid var(--color-popover-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: var(--background);
    cursor: pointer;
  }

  /* 라디오 버튼 스타일 */
  input[type="radio"] {
    border-radius: 100%;
  }

  /* 체크박스 스타일 */
  input[type="checkbox"] {
    border-radius: 5px;
  }

  /* 선택된 라디오 및 체크박스 스타일 */
  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    border-color: var(--color-primary) !important;
  }

  /* 다크 모드 라디오 및 체크박스 테두리 */
  .dark input[type="radio"],
  .dark input[type="checkbox"] {
    border: 1.5px solid var(--color-popover-border);
  }

  /* 호버 상태 라디오 및 체크박스 스타일 */
  input[type="radio"]:hover,
  input[type="checkbox"]:hover {
    border-color: var(--color-primary);
  }

  /* 선택된 라디오 및 체크박스 내부 요소 스타일 */
  input[type="radio"]:checked::before,
  input[type="checkbox"]:checked::before {
    display: block;
    position: absolute;
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";

    background-color: var(--color-primary);
    animation: checkbox-check 75ms ease-out forwards;
  }

  /* 선택된 라디오 버튼 내부 원 스타일 */
  input[type="radio"]:checked::before {
    border-radius: 100%;
  }

  /* 선택된 체크박스 내부 정사각형 스타일 */
  input[type="checkbox"]:checked::before {
    border-radius: 2px;
  }
}
